@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root{
  --color-transparente:  rgba(255, 255, 255, 0.1);
  --color-header: #202020;
  --color-fondo:#121212;
  --color-categoria: #151515;
  --color-botones: #313131;
  --color-texto: #fff;
  --color-buscador: #f2f2f2;
  --color-hover: #484848;
  --color-scroll: #717171;
  --color-subtitulo: #525252;
  --color-video: #373737;
  --color-decripcion: #aaa;
}
/*
Layout
*/

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-fondo);
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
  font-size: 0.9rem;
}
h1 {
  font-size: 1.5rem;
}
hr {
  border: solid 1px var(--color-transparente);
  margin-top: 12px;
  margin-bottom: 12px;
}
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-header);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo a {
  color: var(--color-texto);
  font-size: 24px;
  margin-top: 13px;
  margin-right: 2px;
  margin-left: 5px;
}
.logo__container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo__img {
  position: relative;
  height: 25px;
  width: 30px;
}
.logo__container h1 {
  letter-spacing: -1px;
  color: var(--color-texto);
}
.search {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 0 1 685px;
}
.search form {
  position: relative;
  width: 100%;
  display: flex;
}
.search input {
  height: 44px;
  width: 100%;
  background-color: var(--color-fondo);
  color: var(--color-buscador);
  padding: 12px;
  outline: none;
  border: 1px solid var(--color-transparente);
  border-radius: 10px 0px 0px 10px;
  max-width: 900px;
}
.search button {
  width: 44px;
  height: 44px;
  background-color: var(--color-botones);
  color: var(--color-texto);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  transition: 0.8s;
}
.search form ~ button {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
}
.profile {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.profile a {
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-botones);
  color: var(--color-texto);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.8s;
}
.profile a:hover {
  background-color: var(--color-hover);
}
.profile img {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.search button:hover {
  background-color: var(--color-hover);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-fondo);
  padding-top: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
}
.sidebar_items {
  display: flex;
  flex-direction: column;
}
.sidebar_item {
  height: 40px;
  width: 230px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 16px;
  margin: auto;
  color: var(--color-texto);
}
.sidebar_item i {
  margin-right: 20px;
  font-size: 24px;
}
.sidebar_item:hover {
  background-color: var(--color-hover);
  border-radius: 5px;
}
.sidebar_subtitulo {
  color: var(--color-subtitulo);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}
.content {
  grid-area: content;
}
.chips {
  overflow-x: scroll;
  background-color: var(--color-categoria);
  display: flex;
  padding-left: 14px;
  border-top: 1px solid var(--color-transparente);
  border-bottom: 1px solid var(--color-transparente);
  max-width: calc(100vw - 240px);
}

.chips__wapper {
  margin: 12px 6px;
  background-color: var(--color-botones);
  padding: 6px 12px;
  color: var(--color-texto);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.8s;
}
.chips__wapper:hover {
  background-color: var(--color-hover);
}
.chips::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 5px;
}

/* Contenedor de Video */

.videos {
  display: grid;
  height: calc(100vh - 120px);
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;
  background-color: var(--color-fondo);
}
.video__container{
  padding-bottom: 150px;
}
.video{
  margin-bottom: 25px;
  position: relative;
  border-radius: 12px;
  padding: 8px;
}
.video:hover {
  background-color: var(--color-video);
  transition: 0.8s;
}
.video__miniatura {
  position: relative;
  width: auto;
  height: 200px;
  display: block;
}
.video-box img {
  object-fit: cover;
  border-radius: 12px;
}
.video__detalles {
  display: flex;
  color: var(--color-decripcion);
  margin-top: 10px;
}
.video__canal{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 100px;
}
.video__detail {
  margin-left: 12px;
}
.video__titulo {
  font-size: 0, 19rem;
  color: var(--color-texto);
}
.video__nombre {
  margin-top: 4px;
}
.video__cargar {
  margin-top: 4px;
  display: flex;
  gap: 3px;
}
.video__circulo{
  font-size: 6px;
}
  @media (max-width: 1200px) {
    body {
      grid-template-columns: 70px;
      height: 1200px;
    }
    .sidebar_item span,
    .sidebar_subtitulo {
      display: none;
    }
    .sidebar_items {
      padding: 0;
    }
    
    .chips {
      max-width: calc(100vw - 40px);
    }
    .sidebar {
      overflow-x: hidden;
    }
  }